<main class="form-background">
  <section class="form-register">
    <form [formGroup]="loginForm">
      <span class="text-danger">{{loginError}}</span>
      <h1>Iniciar Sesión</h1>
      <!-- EMAIL -->
      <input class="controls" type="email" name="usuario" placeholder="Ingrese su usuario" formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
        <div *ngIf="email.errors?.['required']">
          el Email es requerido.
        </div>
        <div *ngIf="email.errors?.['minlength']">
          el Email debe tener al menos 4 caracteres.
        </div>
      </div>
      <!-- CONTRASEÑA -->
      <input class="controls" type="password" name="password" placeholder="Ingrese su contraseña"
        formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
        <div *ngIf="password.errors?.['required']">
          la Contraseña es requerida.
        </div>
      </div>
      <input class="botons" type="submit" value="INICIAR SESION" (click)="login()">
    </form>
  </section>
</main>