<main>
  <table class="table table-hover" *ngIf="siVentas; else noVentas">
    <thead>
      <tr>
        <th scope="col">Suscripcion</th>
        <th scope="col">Inicio Suscripción</th>
        <th scope="col">Fin Suscripción</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of myVentas">
        <td>{{dato.TipoServicio_S}}</td>
        <td>{{dato.FechaVenta_V | date: 'dd/MM/yyyy'}}</td>
        <td>{{dato.FechaFin_V | date: 'dd/MM/yyyy'}}</td>
        <td>{{dato.Precio_S | currency}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noVentas>
    <h1>Usted no ha realizado suscripciones</h1>
  </ng-template>
</main>
