<main>
  <h1>Somos SALUS!</h1>
  <section>
    <div>
      <p>
        Somos una empresa dedicada a proveer servicios odontológicos de fácil acceso a la persona que lo solicite.
        Mediante una plataforma simple
        y de facil acceso se pueden conseguir servicios odontológicos como restauraciones, extracciones, limpiezas,
        calzas, etc.

      </p>
      <p>Con un simple click tanto el paciente como el profesional tienen un rádio y cómodo
        acceso a basta información para tener un basto conocimiento de nuestra historia
        de salud.</p>
    </div>
    <img
      src="https://images.pexels.com/photos/5622016/pexels-photo-5622016.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="equipo de odontologas">

  </section>
</main>