<main>
  <section>
    <h1>Contactanos!</h1>
    <p>
      Somos una empresa dedicada a proveer de una plataforma de fácil acceso
      al historial médico a la persona que lo solicite. Mediante una plataforma simple
      y de facil acceso se puede guardar en un solo lugar la totalidad de las
      estudios médicos de laboratorio, imagen, resúmenes de historial médico,
      de instituciones médicas y derivaciones. Desde un simple carnet de vacunación hasta
      un resumen de internación y estadías.
      Con un simple click tanto el paciente como el profesional tienen un rádio y cómodo
      acceso a basta información para tener un basto conocimiento de nuestra historia
      de salud.

    </p>
  </section>
</main>