<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>First slide label</h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Second slide label</h2>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/4021775/pexels-photo-4021775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Third slide label</h2>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<main>
  <section class="index-first">
    <div class="index-first-info">
      <h2>Información fundamental al alcance de tu mano</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <a href="#" class="btn">Registrate</a>
    </div>
    <div class="index-first-img">
      <img
        src="https://images.pexels.com/photos/207601/pexels-photo-207601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" class="index-first-img1">
      <img
        src="https://images.pexels.com/photos/4386464/pexels-photo-4386464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" class="index-first-img2">
    </div>
  </section>
  <section class="index-second">
    <h2>Lorem ipsum dolor si amet</h2>
    <div class="index-cards">
      <div class="index-card">
        <img src="/assets/Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
      <div class="index-card">
        <img src="/assets/Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
      <div class="index-card">
        <img src="/assets/Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
    </div>
    <div class="index-cards">
      <div class="index-card">
        <img src="/assets//Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
      <div class="index-card">
        <img src="/assets/Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
      <div class="index-card">
        <img src="/assets/Vector.png" alt="">
        <p>lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
    </div>
  </section>
  <section class="index-third">
    <div class="index-third-info">
      <h2>Descarga la App</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <div>
        <img src="/assets/appstore.png" alt="">
        <img src="/assets/googleplay.png" alt="">
      </div>
    </div>
    <div class="iphone"><img src="/assets/iphone.png" alt=""></div>
  </section>
</main>