<div class="In-div-nav">

  <nav class="In-nav">

    <div class="In-nav-div">
      <a class="In-navbar-brand" href="#"><img src="./img/logo.png" alt=""></a>

      <a href="#" class="fuente-primaria fuente-azul">Cerrar sesion</a>

    </div>

  </nav>

</div>

<main>
  <div class="flex-aside">

    <div class="div-aside">
      <aside>

        <ul class="aside-ul">
          <li class="aside-li"><button class="aside-button fuente-primaria fuente-azul">Mis datos
              personales</button></li>
          <li class="aside-li"><button class="aside-button fuente-primaria fuente-azul">Modificar mis
              datos</button></li>
          <li class="aside-li"><button class="aside-button fuente-primaria fuente-azul">Buscar
              paciente</button>
          </li>
          <li class="aside-li"><button class="aside-button fuente-primaria fuente-azul">Solicitar
              informacion</button></li>
        </ul>

      </aside>
    </div>

    <div class="div-dat">

      <section class="datos">
        <div>
          <div class="div-flex-dat">
            <h3 class="fuente-secundaria">Nombres</h3>
            <h3 class="fuente-secundaria">Apellidos</h3>
          </div>
          <p class="fuente-secundaria">Matricula</p>
          <p class="fuente-secundaria">DNI</p>
          <p class="fuente-secundaria">Especialidad</p>
          <p class="fuente-secundaria">Email</p>
          <p class="fuente-secundaria"></p>
          <p class="fuente-secundaria">Localidad</p>
        </div>
      </section>
    </div>
  </div>
</main>